$icomoon-font-family: "convert" !default;
$icomoon-font-path: "fonts" !default;

$c-z: "\ea1d";
$c-yin-yang: "\ea1e";
$c-yen-sign: "\ea1f";
$c-y: "\ea20";
$c-xmarks-lines: "\ea21";
$c-xmark: "\ea22";
$c-x: "\ea23";
$c-x-ray: "\ea24";
$c-wrench: "\ea25";
$c-worm: "\ea26";
$c-won-sign: "\ea27";
$c-wine-glass: "\ea28";
$c-wine-glass-empty: "\ea29";
$c-wine-bottle: "\ea2a";
$c-window-restore: "\ea2b";
$c-window-minimize: "\ea2c";
$c-window-maximize: "\ea2d";
$c-wind: "\ea2e";
$c-wifi: "\ea2f";
$c-whiskey-glass: "\ea30";
$c-wheelchair: "\ea31";
$c-wheelchair-move: "\ea32";
$c-wheat-awn: "\ea33";
$c-wheat-awn-circle-exclamation: "\ea34";
$c-weight-scale: "\ea35";
$c-weight-hanging: "\ea36";
$c-wave-square: "\ea37";
$c-water: "\ea38";
$c-water-ladder: "\ea39";
$c-warehouse: "\ea3a";
$c-wand-sparkles: "\ea3b";
$c-wand-magic: "\ea3c";
$c-wand-magic-sparkles: "\ea3d";
$c-wallet: "\ea3e";
$c-walkie-talkie: "\ea3f";
$c-w: "\ea40";
$c-vr-cardboard: "\ea41";
$c-volume-xmark: "\ea42";
$c-volume-off: "\ea43";
$c-volume-low: "\ea44";
$c-volume-high: "\ea45";
$c-volleyball: "\ea46";
$c-volcano: "\ea47";
$c-voicemail: "\ea48";
$c-viruses: "\ea49";
$c-virus: "\ea4a";
$c-virus-slash: "\ea4b";
$c-virus-covid: "\ea4c";
$c-virus-covid-slash: "\ea4d";
$c-vihara: "\ea4e";
$c-video: "\ea4f";
$c-video-slash: "\ea50";
$c-vials: "\ea51";
$c-vial: "\ea52";
$c-vial-virus: "\ea53";
$c-vial-circle-check: "\ea54";
$c-vest: "\ea55";
$c-vest-patches: "\ea56";
$c-venus: "\ea57";
$c-venus-mars: "\ea58";
$c-venus-double: "\ea59";
$c-vector-square: "\ea5a";
$c-vault: "\ea5b";
$c-van-shuttle: "\ea5c";
$c-v: "\ea5d";
$c-utensils: "\ea5e";
$c-users: "\ea5f";
$c-users-viewfinder: "\ea60";
$c-users-slash: "\ea61";
$c-users-rectangle: "\ea62";
$c-users-rays: "\ea63";
$c-users-line: "\ea64";
$c-users-gear: "\ea65";
$c-users-between-lines: "\ea66";
$c-user: "\ea67";
$c-user-xmark: "\ea68";
$c-user-tie: "\ea69";
$c-user-tag: "\ea6a";
$c-user-slash: "\ea6b";
$c-user-shield: "\ea6c";
$c-user-secret: "\ea6d";
$c-user-plus: "\ea6e";
$c-user-pen: "\ea6f";
$c-user-nurse: "\ea70";
$c-user-ninja: "\ea71";
$c-user-minus: "\ea72";
$c-user-lock: "\ea73";
$c-user-large: "\ea74";
$c-user-large-slash: "\ea75";
$c-user-injured: "\ea76";
$c-user-group: "\ea77";
$c-user-graduate: "\ea78";
$c-user-gear: "\ea79";
$c-user-doctor: "\ea7a";
$c-user-clock: "\ea7b";
$c-user-check: "\ea7c";
$c-user-astronaut: "\ea7d";
$c-upload: "\ea7e";
$c-up-right-from-square: "\ea7f";
$c-up-right-and-down-left-from-center: "\ea80";
$c-up-long: "\ea81";
$c-up-down: "\ea82";
$c-up-down-left-right: "\ea83";
$c-unlock: "\ea84";
$c-unlock-keyhole: "\ea85";
$c-universal-access: "\ea86";
$c-underline: "\ea87";
$c-umbrella: "\ea88";
$c-umbrella-beach: "\ea89";
$c-u: "\ea8a";
$c-tv: "\ea8b";
$c-turn-up: "\ea8c";
$c-turn-down: "\ea8d";
$c-turkish-lira-sign: "\ea8e";
$c-tty: "\ea8f";
$c-truck: "\ea90";
$c-truck-ramp-box: "\ea91";
$c-truck-plane: "\ea92";
$c-truck-pickup: "\ea93";
$c-truck-moving: "\ea94";
$c-truck-monster: "\ea95";
$c-truck-medical: "\ea96";
$c-truck-front: "\ea97";
$c-truck-field: "\ea98";
$c-truck-field-un: "\ea99";
$c-truck-fast: "\ea9a";
$c-truck-droplet: "\ea9b";
$c-truck-arrow-right: "\ea9c";
$c-trowel: "\ea9d";
$c-trowel-bricks: "\ea9e";
$c-trophy: "\ea9f";
$c-triangle-exclamation: "\eaa0";
$c-tree: "\eaa1";
$c-tree-city: "\eaa2";
$c-trash: "\eaa3";
$c-trash-can: "\eaa4";
$c-trash-can-arrow-up: "\eaa5";
$c-trash-arrow-up: "\eaa6";
$c-transgender: "\eaa7";
$c-train: "\eaa8";
$c-train-tram: "\eaa9";
$c-train-subway: "\eaaa";
$c-trailer: "\eaab";
$c-traffic-light: "\eaac";
$c-trademark: "\eaad";
$c-tractor: "\eaae";
$c-tower-observation: "\eaaf";
$c-tower-cell: "\eab0";
$c-tower-broadcast: "\eab1";
$c-tornado: "\eab2";
$c-torii-gate: "\eab3";
$c-tooth: "\eab4";
$c-toolbox: "\eab5";
$c-toilets-portable: "\eab6";
$c-toilet: "\eab7";
$c-toilet-portable: "\eab8";
$c-toilet-paper: "\eab9";
$c-toilet-paper-slash: "\eaba";
$c-toggle-on: "\eabb";
$c-toggle-off: "\eabc";
$c-timeline: "\eabd";
$c-ticket: "\eabe";
$c-ticket-simple: "\eabf";
$c-thumbtack: "\eac0";
$c-thumbs-up: "\eac1";
$c-thumbs-down: "\eac2";
$c-thermometer: "\eac3";
$c-text-width: "\eac4";
$c-text-slash: "\eac5";
$c-text-height: "\eac6";
$c-terminal: "\eac7";
$c-tents: "\eac8";
$c-tent: "\eac9";
$c-tent-arrows-down: "\eaca";
$c-tent-arrow-turn-left: "\eacb";
$c-tent-arrow-left-right: "\eacc";
$c-tent-arrow-down-to-line: "\eacd";
$c-tenge-sign: "\eace";
$c-temperature-three-quarters: "\eacf";
$c-temperature-quarter: "\ead0";
$c-temperature-low: "\ead1";
$c-temperature-high: "\ead2";
$c-temperature-half: "\ead3";
$c-temperature-full: "\ead4";
$c-temperature-empty: "\ead5";
$c-temperature-arrow-up: "\ead6";
$c-temperature-arrow-down: "\ead7";
$c-teeth: "\ead8";
$c-teeth-open: "\ead9";
$c-taxi: "\eada";
$c-tarp: "\eadb";
$c-tarp-droplet: "\eadc";
$c-tape: "\eadd";
$c-tags: "\eade";
$c-tag: "\eadf";
$c-tachograph-digital: "\eae0";
$c-tablets: "\eae1";
$c-tablet: "\eae2";
$c-tablet-screen-button: "\eae3";
$c-tablet-button: "\eae4";
$c-table: "\eae5";
$c-table-tennis-paddle-ball: "\eae6";
$c-table-list: "\eae7";
$c-table-columns: "\eae8";
$c-table-cells: "\eae9";
$c-table-cells-large: "\eaea";
$c-t: "\eaeb";
$c-syringe: "\eaec";
$c-synagogue: "\eaed";
$c-swatchbook: "\eaee";
$c-superscript: "\eaef";
$c-sun: "\eaf0";
$c-sun-plant-wilt: "\eaf1";
$c-suitcase: "\eaf2";
$c-suitcase-rolling: "\eaf3";
$c-suitcase-medical: "\eaf4";
$c-subscript: "\eaf5";
$c-stroopwafel: "\eaf6";
$c-strikethrough: "\eaf7";
$c-street-view: "\eaf8";
$c-store: "\eaf9";
$c-store-slash: "\eafa";
$c-stopwatch: "\eafb";
$c-stopwatch-20: "\eafc";
$c-stop: "\eafd";
$c-stethoscope: "\eafe";
$c-sterling-sign: "\eaff";
$c-star: "\eb00";
$c-star-of-life: "\eb01";
$c-star-of-david: "\eb02";
$c-star-half: "\eb03";
$c-star-half-stroke: "\eb04";
$c-star-and-crescent: "\eb05";
$c-stapler: "\eb06";
$c-stamp: "\eb07";
$c-stairs: "\eb08";
$c-staff-snake: "\eb09";
$c-square: "\eb0a";
$c-square-xmark: "\eb0b";
$c-square-virus: "\eb0c";
$c-square-up-right: "\eb0d";
$c-square-share-nodes: "\eb0e";
$c-square-rss: "\eb0f";
$c-square-root-variable: "\eb10";
$c-square-poll-vertical: "\eb11";
$c-square-poll-horizontal: "\eb12";
$c-square-plus: "\eb13";
$c-square-phone: "\eb14";
$c-square-phone-flip: "\eb15";
$c-square-person-confined: "\eb16";
$c-square-pen: "\eb17";
$c-square-parking: "\eb18";
$c-square-nfi: "\eb19";
$c-square-minus: "\eb1a";
$c-square-h: "\eb1b";
$c-square-full: "\eb1c";
$c-square-envelope: "\eb1d";
$c-square-check: "\eb1e";
$c-square-caret-up: "\eb1f";
$c-square-caret-right: "\eb20";
$c-square-caret-left: "\eb21";
$c-square-caret-down: "\eb22";
$c-square-arrow-up-right: "\eb23";
$c-spray-can: "\eb24";
$c-spray-can-sparkles: "\eb25";
$c-spoon: "\eb26";
$c-splotch: "\eb27";
$c-spinner: "\eb28";
$c-spider: "\eb29";
$c-spell-check: "\eb2a";
$c-spaghetti-monster-flying: "\eb2b";
$c-spa: "\eb2c";
$c-sort: "\eb2d";
$c-sort-up: "\eb2e";
$c-sort-down: "\eb2f";
$c-solar-panel: "\eb30";
$c-socks: "\eb31";
$c-soap: "\eb32";
$c-snowplow: "\eb33";
$c-snowman: "\eb34";
$c-snowflake: "\eb35";
$c-smoking: "\eb36";
$c-smog: "\eb37";
$c-sliders: "\eb38";
$c-sleigh: "\eb39";
$c-slash: "\eb3a";
$c-skull: "\eb3b";
$c-skull-crossbones: "\eb3c";
$c-sitemap: "\eb3d";
$c-sink: "\eb3e";
$c-sim-card: "\eb3f";
$c-signs-post: "\eb40";
$c-signature: "\eb41";
$c-signal: "\eb42";
$c-sign-hanging: "\eb43";
$c-shuttle-space: "\eb44";
$c-shuffle: "\eb45";
$c-shrimp: "\eb46";
$c-shower: "\eb47";
$c-shop: "\eb48";
$c-shop-slash: "\eb49";
$c-shop-lock: "\eb4a";
$c-shoe-prints: "\eb4b";
$c-shirt: "\eb4c";
$c-ship: "\eb4d";
$c-shield: "\eb4e";
$c-shield-virus: "\eb4f";
$c-shield-heart: "\eb50";
$c-shield-halved: "\eb51";
$c-shield-dog: "\eb52";
$c-shield-cat: "\eb53";
$c-shekel-sign: "\eb54";
$c-sheet-plastic: "\eb55";
$c-share: "\eb56";
$c-share-nodes: "\eb57";
$c-share-from-square: "\eb58";
$c-shapes: "\eb59";
$c-server: "\eb5a";
$c-seedling: "\eb5b";
$c-section: "\eb5c";
$c-sd-card: "\eb5d";
$c-scroll: "\eb5e";
$c-scroll-torah: "\eb5f";
$c-screwdriver: "\eb60";
$c-screwdriver-wrench: "\eb61";
$c-scissors: "\eb62";
$c-school: "\eb63";
$c-school-lock: "\eb64";
$c-school-flag: "\eb65";
$c-school-circle-xmark: "\eb66";
$c-school-circle-exclamation: "\eb67";
$c-school-circle-check: "\eb68";
$c-scale-unbalanced: "\eb69";
$c-scale-unbalanced-flip: "\eb6a";
$c-scale-balanced: "\eb6b";
$c-satellite: "\eb6c";
$c-satellite-dish: "\eb6d";
$c-sailboat: "\eb6e";
$c-sack-xmark: "\eb6f";
$c-sack-dollar: "\eb70";
$c-s: "\eb71";
$c-rupiah-sign: "\eb72";
$c-rupee-sign: "\eb73";
$c-ruler: "\eb74";
$c-ruler-vertical: "\eb75";
$c-ruler-horizontal: "\eb76";
$c-ruler-combined: "\eb77";
$c-rug: "\eb78";
$c-ruble-sign: "\eb79";
$c-rss: "\eb7a";
$c-route: "\eb7b";
$c-rotate: "\eb7c";
$c-rotate-right: "\eb7d";
$c-rotate-left: "\eb7e";
$c-rocket: "\eb7f";
$c-robot: "\eb80";
$c-road: "\eb81";
$c-road-spikes: "\eb82";
$c-road-lock: "\eb83";
$c-road-circle-xmark: "\eb84";
$c-road-circle-exclamation: "\eb85";
$c-road-circle-check: "\eb86";
$c-road-bridge: "\eb87";
$c-road-barrier: "\eb88";
$c-ring: "\eb89";
$c-right-to-bracket: "\eb8a";
$c-right-long: "\eb8b";
$c-right-left: "\eb8c";
$c-right-from-bracket: "\eb8d";
$c-ribbon: "\eb8e";
$c-retweet: "\eb8f";
$c-restroom: "\eb90";
$c-republican: "\eb91";
$c-reply: "\eb92";
$c-reply-all: "\eb93";
$c-repeat: "\eb94";
$c-registered: "\eb95";
$c-recycle: "\eb96";
$c-rectangle-xmark: "\eb97";
$c-rectangle-list: "\eb98";
$c-rectangle-ad: "\eb99";
$c-record-vinyl: "\eb9a";
$c-receipt: "\eb9b";
$c-ranking-star: "\eb9c";
$c-rainbow: "\eb9d";
$c-radio: "\eb9e";
$c-radiation: "\eb9f";
$c-r: "\eba0";
$c-quote-right: "\eba1";
$c-quote-left: "\eba2";
$c-question: "\eba3";
$c-qrcode: "\eba4";
$c-q: "\eba5";
$c-puzzle-piece: "\eba6";
$c-pump-soap: "\eba7";
$c-pump-medical: "\eba8";
$c-print: "\eba9";
$c-prescription: "\ebaa";
$c-prescription-bottle: "\ebab";
$c-prescription-bottle-medical: "\ebac";
$c-power-off: "\ebad";
$c-poop: "\ebae";
$c-poo: "\ebaf";
$c-poo-storm: "\ebb0";
$c-podcast: "\ebb1";
$c-plus: "\ebb2";
$c-plus-minus: "\ebb3";
$c-plug: "\ebb4";
$c-plug-circle-xmark: "\ebb5";
$c-plug-circle-plus: "\ebb6";
$c-plug-circle-minus: "\ebb7";
$c-plug-circle-exclamation: "\ebb8";
$c-plug-circle-check: "\ebb9";
$c-plug-circle-bolt: "\ebba";
$c-play: "\ebbb";
$c-plate-wheat: "\ebbc";
$c-plant-wilt: "\ebbd";
$c-plane: "\ebbe";
$c-plane-up: "\ebbf";
$c-plane-slash: "\ebc0";
$c-plane-lock: "\ebc1";
$c-plane-departure: "\ebc2";
$c-plane-circle-xmark: "\ebc3";
$c-plane-circle-exclamation: "\ebc4";
$c-plane-circle-check: "\ebc5";
$c-plane-arrival: "\ebc6";
$c-place-of-worship: "\ebc7";
$c-pizza-slice: "\ebc8";
$c-pills: "\ebc9";
$c-piggy-bank: "\ebca";
$c-photo-film: "\ebcb";
$c-phone: "\ebcc";
$c-phone-volume: "\ebcd";
$c-phone-slash: "\ebce";
$c-phone-flip: "\ebcf";
$c-peso-sign: "\ebd0";
$c-peseta-sign: "\ebd1";
$c-person: "\ebd2";
$c-person-walking: "\ebd3";
$c-person-walking-with-cane: "\ebd4";
$c-person-walking-luggage: "\ebd5";
$c-person-walking-dashed-line-arrow-right: "\ebd6";
$c-person-walking-arrow-right: "\ebd7";
$c-person-walking-arrow-loop-left: "\ebd8";
$c-person-through-window: "\ebd9";
$c-person-swimming: "\ebda";
$c-person-snowboarding: "\ebdb";
$c-person-skiing: "\ebdc";
$c-person-skiing-nordic: "\ebdd";
$c-person-skating: "\ebde";
$c-person-shelter: "\ebdf";
$c-person-running: "\ebe0";
$c-person-rifle: "\ebe1";
$c-person-rays: "\ebe2";
$c-person-pregnant: "\ebe3";
$c-person-praying: "\ebe4";
$c-person-military-to-person: "\ebe5";
$c-person-military-rifle: "\ebe6";
$c-person-military-pointing: "\ebe7";
$c-person-hiking: "\ebe8";
$c-person-harassing: "\ebe9";
$c-person-half-dress: "\ebea";
$c-person-falling: "\ebeb";
$c-person-falling-burst: "\ebec";
$c-person-drowning: "\ebed";
$c-person-dress: "\ebee";
$c-person-dress-burst: "\ebef";
$c-person-dots-from-line: "\ebf0";
$c-person-digging: "\ebf1";
$c-person-circle-xmark: "\ebf2";
$c-person-circle-question: "\ebf3";
$c-person-circle-plus: "\ebf4";
$c-person-circle-minus: "\ebf5";
$c-person-circle-exclamation: "\ebf6";
$c-person-circle-check: "\ebf7";
$c-person-chalkboard: "\ebf8";
$c-person-cane: "\ebf9";
$c-person-burst: "\ebfa";
$c-person-breastfeeding: "\ebfb";
$c-person-booth: "\ebfc";
$c-person-biking: "\ebfd";
$c-person-arrow-up-from-line: "\ebfe";
$c-person-arrow-down-to-line: "\ebff";
$c-percent: "\ec00";
$c-pepper-hot: "\ec01";
$c-people-roof: "\ec02";
$c-people-robbery: "\ec03";
$c-people-pulling: "\ec04";
$c-people-line: "\ec05";
$c-people-group: "\ec06";
$c-people-carry-box: "\ec07";
$c-people-arrows: "\ec08";
$c-pencil: "\ec09";
$c-pen: "\ec0a";
$c-pen-to-square: "\ec0b";
$c-pen-ruler: "\ec0c";
$c-pen-nib: "\ec0d";
$c-pen-fancy: "\ec0e";
$c-pen-clip: "\ec0f";
$c-peace: "\ec10";
$c-paw: "\ec11";
$c-pause: "\ec12";
$c-paste: "\ec13";
$c-passport: "\ec14";
$c-paragraph: "\ec15";
$c-parachute-box: "\ec16";
$c-paperclip: "\ec17";
$c-paper-plane: "\ec18";
$c-panorama: "\ec19";
$c-pallet: "\ec1a";
$c-palette: "\ec1b";
$c-paintbrush: "\ec1c";
$c-paint-roller: "\ec1d";
$c-pager: "\ec1e";
$c-p: "\ec1f";
$c-outdent: "\ec20";
$c-otter: "\ec21";
$c-om: "\ec22";
$c-oil-well: "\ec23";
$c-oil-can: "\ec24";
$c-object-ungroup: "\ec25";
$c-object-group: "\ec26";
$c-o: "\ec27";
$c-notes-medical: "\ec28";
$c-note-sticky: "\ec29";
$c-notdef: "\ec2a";
$c-not-equal: "\ec2b";
$c-newspaper: "\ec2c";
$c-neuter: "\ec2d";
$c-network-wired: "\ec2e";
$c-naira-sign: "\ec2f";
$c-n: "\ec30";
$c-music: "\ec31";
$c-mug-saucer: "\ec32";
$c-mug-hot: "\ec33";
$c-mountain: "\ec34";
$c-mountain-sun: "\ec35";
$c-mountain-city: "\ec36";
$c-mound: "\ec37";
$c-motorcycle: "\ec38";
$c-mosquito: "\ec39";
$c-mosquito-net: "\ec3a";
$c-mosque: "\ec3b";
$c-mortar-pestle: "\ec3c";
$c-moon: "\ec3d";
$c-monument: "\ec3e";
$c-money-check: "\ec3f";
$c-money-check-dollar: "\ec40";
$c-money-bills: "\ec41";
$c-money-bill: "\ec42";
$c-money-bill-wheat: "\ec43";
$c-money-bill-wave: "\ec44";
$c-money-bill-trend-up: "\ec45";
$c-money-bill-transfer: "\ec46";
$c-money-bill-1: "\ec47";
$c-money-bill-1-wave: "\ec48";
$c-mobile: "\ec49";
$c-mobile-screen: "\ec4a";
$c-mobile-screen-button: "\ec4b";
$c-mobile-retro: "\ec4c";
$c-mobile-button: "\ec4d";
$c-mitten: "\ec4e";
$c-minus: "\ec4f";
$c-minimize: "\ec50";
$c-mill-sign: "\ec51";
$c-microscope: "\ec52";
$c-microphone: "\ec53";
$c-microphone-slash: "\ec54";
$c-microphone-lines: "\ec55";
$c-microphone-lines-slash: "\ec56";
$c-microchip: "\ec57";
$c-meteor: "\ec58";
$c-message: "\ec59";
$c-mercury: "\ec5a";
$c-menorah: "\ec5b";
$c-memory: "\ec5c";
$c-medal: "\ec5d";
$c-maximize: "\ec5e";
$c-mattress-pillow: "\ec5f";
$c-masks-theater: "\ec60";
$c-mask: "\ec61";
$c-mask-ventilator: "\ec62";
$c-mask-face: "\ec63";
$c-martini-glass: "\ec64";
$c-martini-glass-empty: "\ec65";
$c-martini-glass-citrus: "\ec66";
$c-mars: "\ec67";
$c-mars-stroke: "\ec68";
$c-mars-stroke-up: "\ec69";
$c-mars-stroke-right: "\ec6a";
$c-mars-double: "\ec6b";
$c-mars-and-venus: "\ec6c";
$c-mars-and-venus-burst: "\ec6d";
$c-marker: "\ec6e";
$c-map: "\ec6f";
$c-map-pin: "\ec70";
$c-map-location: "\ec71";
$c-map-location-dot: "\ec72";
$c-manat-sign: "\ec73";
$c-magnifying-glass: "\ec74";
$c-magnifying-glass-plus: "\ec75";
$c-magnifying-glass-minus: "\ec76";
$c-magnifying-glass-location: "\ec77";
$c-magnifying-glass-dollar: "\ec78";
$c-magnifying-glass-chart: "\ec79";
$c-magnifying-glass-arrow-right: "\ec7a";
$c-magnet: "\ec7b";
$c-m: "\ec7c";
$c-lungs: "\ec7d";
$c-lungs-virus: "\ec7e";
$c-locust: "\ec7f";
$c-lock: "\ec80";
$c-lock-open: "\ec81";
$c-location-pin: "\ec82";
$c-location-pin-lock: "\ec83";
$c-location-dot: "\ec84";
$c-location-crosshairs: "\ec85";
$c-litecoin-sign: "\ec86";
$c-location-arrow: "\ec87";
$c-list: "\ec88";
$c-list-ul: "\ec89";
$c-list-ol: "\ec8a";
$c-list-check: "\ec8b";
$c-lira-sign: "\ec8c";
$c-link: "\ec8d";
$c-link-slash: "\ec8e";
$c-lines-leaning: "\ec8f";
$c-lightbulb: "\ec90";
$c-life-ring: "\ec91";
$c-less-than: "\ec92";
$c-less-than-equal: "\ec93";
$c-lemon: "\ec94";
$c-left-right: "\ec95";
$c-left-long: "\ec96";
$c-leaf: "\ec97";
$c-layer-group: "\ec98";
$c-lari-sign: "\ec99";
$c-laptop: "\ec9a";
$c-laptop-medical: "\ec9b";
$c-laptop-file: "\ec9c";
$c-laptop-code: "\ec9d";
$c-language: "\ec9e";
$c-landmark: "\ec9f";
$c-landmark-flag: "\eca0";
$c-landmark-dome: "\eca1";
$c-land-mine-on: "\eca2";
$c-l: "\eca3";
$c-kiwi-bird: "\eca4";
$c-kitchen-set: "\eca5";
$c-kit-medical: "\eca6";
$c-kip-sign: "\eca7";
$c-khanda: "\eca8";
$c-keyboard: "\eca9";
$c-key: "\ecaa";
$c-kaaba: "\ecab";
$c-k: "\ecac";
$c-jug-detergent: "\ecad";
$c-joint: "\ecae";
$c-jet-fighter: "\ecaf";
$c-jet-fighter-up: "\ecb0";
$c-jedi: "\ecb1";
$c-jar: "\ecb2";
$c-jar-wheat: "\ecb3";
$c-j: "\ecb4";
$c-italic: "\ecb5";
$c-info: "\ecb6";
$c-infinity: "\ecb7";
$c-industry: "\ecb8";
$c-indian-rupee-sign: "\ecb9";
$c-indent: "\ecba";
$c-inbox: "\ecbb";
$c-images: "\ecbc";
$c-image: "\ecbd";
$c-image-portrait: "\ecbe";
$c-igloo: "\ecbf";
$c-id-card: "\ecc0";
$c-id-card-clip: "\ecc1";
$c-id-badge: "\ecc2";
$c-icons: "\ecc3";
$c-icicles: "\ecc4";
$c-ice-cream: "\ecc5";
$c-i: "\ecc6";
$c-i-cursor: "\ecc7";
$c-hurricane: "\ecc8";
$c-hryvnia-sign: "\ecc9";
$c-house: "\ecca";
$c-house-user: "\eccb";
$c-house-tsunami: "\eccc";
$c-house-signal: "\eccd";
$c-house-medical: "\ecce";
$c-house-medical-flag: "\eccf";
$c-house-medical-circle-xmark: "\ecd0";
$c-house-medical-circle-exclamation: "\ecd1";
$c-house-medical-circle-check: "\ecd2";
$c-house-lock: "\ecd3";
$c-house-laptop: "\ecd4";
$c-house-flood-water: "\ecd5";
$c-house-flood-water-circle-arrow-right: "\ecd6";
$c-house-flag: "\ecd7";
$c-house-fire: "\ecd8";
$c-house-crack: "\ecd9";
$c-house-circle-xmark: "\ecda";
$c-house-circle-exclamation: "\ecdb";
$c-house-circle-check: "\ecdc";
$c-house-chimney: "\ecdd";
$c-house-chimney-window: "\ecde";
$c-house-chimney-user: "\ecdf";
$c-house-chimney-medical: "\ece0";
$c-house-chimney-crack: "\ece1";
$c-hourglass: "\ece2";
$c-hourglass-start: "\ece3";
$c-hourglass-half: "\ece4";
$c-hourglass-end: "\ece5";
$c-hotel: "\ece6";
$c-hotdog: "\ece7";
$c-hot-tub-person: "\ece8";
$c-hospital: "\ece9";
$c-hospital-user: "\ecea";
$c-horse: "\eceb";
$c-horse-head: "\ecec";
$c-holly-berry: "\eced";
$c-hockey-puck: "\ecee";
$c-hippo: "\ecef";
$c-hill-rockslide: "\ecf0";
$c-hill-avalanche: "\ecf1";
$c-highlighter: "\ecf2";
$c-helmet-un: "\ecf3";
$c-helmet-safety: "\ecf4";
$c-helicopter: "\ecf5";
$c-helicopter-symbol: "\ecf6";
$c-heart: "\ecf7";
$c-heart-pulse: "\ecf8";
$c-heart-crack: "\ecf9";
$c-heart-circle-xmark: "\ecfa";
$c-heart-circle-plus: "\ecfb";
$c-heart-circle-minus: "\ecfc";
$c-heart-circle-exclamation: "\ecfd";
$c-heart-circle-check: "\ecfe";
$c-heart-circle-bolt: "\ecff";
$c-headset: "\ed00";
$c-headphones: "\ed01";
$c-headphones-simple: "\ed02";
$c-heading: "\ed03";
$c-head-side-virus: "\ed04";
$c-head-side-mask: "\ed05";
$c-head-side-cough: "\ed06";
$c-head-side-cough-slash: "\ed07";
$c-hat-wizard: "\ed08";
$c-hat-cowboy: "\ed09";
$c-hat-cowboy-side: "\ed0a";
$c-hashtag: "\ed0b";
$c-hard-drive: "\ed0c";
$c-hanukiah: "\ed0d";
$c-handshake: "\ed0e";
$c-handshake-slash: "\ed0f";
$c-handshake-simple: "\ed10";
$c-handshake-simple-slash: "\ed11";
$c-handshake-angle: "\ed12";
$c-hands: "\ed13";
$c-hands-praying: "\ed14";
$c-hands-holding: "\ed15";
$c-hands-holding-circle: "\ed16";
$c-hands-holding-child: "\ed17";
$c-hands-clapping: "\ed18";
$c-hands-bubbles: "\ed19";
$c-hands-bound: "\ed1a";
$c-hands-asl-interpreting: "\ed1b";
$c-handcuffs: "\ed1c";
$c-hand: "\ed1d";
$c-hand-spock: "\ed1e";
$c-hand-sparkles: "\ed1f";
$c-hand-scissors: "\ed20";
$c-hand-pointer: "\ed21";
$c-hand-point-up: "\ed22";
$c-hand-point-right: "\ed23";
$c-hand-point-left: "\ed24";
$c-hand-point-down: "\ed25";
$c-hand-peace: "\ed26";
$c-hand-middle-finger: "\ed27";
$c-hand-lizard: "\ed28";
$c-hand-holding: "\ed29";
$c-hand-holding-medical: "\ed2a";
$c-hand-holding-heart: "\ed2b";
$c-hand-holding-hand: "\ed2c";
$c-hand-holding-droplet: "\ed2d";
$c-hand-holding-dollar: "\ed2e";
$c-hand-fist: "\ed2f";
$c-hand-dots: "\ed30";
$c-hand-back-fist: "\ed31";
$c-hamsa: "\ed32";
$c-hammer: "\ed33";
$c-h: "\ed34";
$c-gun: "\ed35";
$c-guitar: "\ed36";
$c-guarani-sign: "\ed37";
$c-group-arrows-rotate: "\ed38";
$c-grip: "\ed39";
$c-grip-vertical: "\ed3a";
$c-grip-lines: "\ed3b";
$c-grip-lines-vertical: "\ed3c";
$c-greater-than: "\ed3d";
$c-greater-than-equal: "\ed3e";
$c-graduation-cap: "\ed3f";
$c-gopuram: "\ed40";
$c-golf-ball-tee: "\ed41";
$c-globe: "\ed42";
$c-glasses: "\ed43";
$c-glass-water: "\ed44";
$c-glass-water-droplet: "\ed45";
$c-gifts: "\ed46";
$c-gift: "\ed47";
$c-ghost: "\ed48";
$c-genderless: "\ed49";
$c-gem: "\ed4a";
$c-gears: "\ed4b";
$c-gear: "\ed4c";
$c-gavel: "\ed4d";
$c-gauge: "\ed4e";
$c-gauge-simple: "\ed4f";
$c-gauge-simple-high: "\ed50";
$c-gauge-high: "\ed51";
$c-gas-pump: "\ed52";
$c-gamepad: "\ed53";
$c-g: "\ed54";
$c-futbol: "\ed55";
$c-frog: "\ed56";
$c-franc-sign: "\ed57";
$c-forward: "\ed58";
$c-forward-step: "\ed59";
$c-forward-fast: "\ed5a";
$c-football: "\ed5b";
$c-font: "\ed5c";
$c-font-awesome: "\ed5d";
$c-folder: "\ed5e";
$c-folder-tree: "\ed5f";
$c-folder-plus: "\ed60";
$c-folder-open: "\ed61";
$c-folder-minus: "\ed62";
$c-folder-closed: "\ed63";
$c-florin-sign: "\ed64";
$c-floppy-disk: "\ed65";
$c-flask: "\ed66";
$c-flask-vial: "\ed67";
$c-flag: "\ed68";
$c-flag-usa: "\ed69";
$c-flag-checkered: "\ed6a";
$c-fish: "\ed6b";
$c-fish-fins: "\ed6c";
$c-fire: "\ed6d";
$c-fire-flame-simple: "\ed6e";
$c-fire-flame-curved: "\ed6f";
$c-fire-extinguisher: "\ed70";
$c-fire-burner: "\ed71";
$c-fingerprint: "\ed72";
$c-filter: "\ed73";
$c-filter-circle-xmark: "\ed74";
$c-filter-circle-dollar: "\ed75";
$c-film: "\ed76";
$c-fill: "\ed77";
$c-fill-drip: "\ed78";
$c-file: "\ed79";
$c-file-zipper: "\ed7a";
$c-file-word: "\ed7b";
$c-file-waveform: "\ed7c";
$c-file-video: "\ed7d";
$c-file-signature: "\ed7e";
$c-file-shield: "\ed7f";
$c-file-prescription: "\ed80";
$c-file-powerpoint: "\ed81";
$c-file-pen: "\ed82";
$c-file-pdf: "\ed83";
$c-file-medical: "\ed84";
$c-file-lines: "\ed85";
$c-file-invoice: "\ed86";
$c-file-invoice-dollar: "\ed87";
$c-file-import: "\ed88";
$c-file-image: "\ed89";
$c-file-export: "\ed8a";
$c-file-excel: "\ed8b";
$c-file-csv: "\ed8c";
$c-file-contract: "\ed8d";
$c-file-code: "\ed8e";
$c-file-circle-xmark: "\ed8f";
$c-file-circle-question: "\ed90";
$c-file-circle-plus: "\ed91";
$c-file-circle-minus: "\ed92";
$c-file-circle-exclamation: "\ed93";
$c-file-circle-check: "\ed94";
$c-file-audio: "\ed95";
$c-file-arrow-up: "\ed96";
$c-file-arrow-down: "\ed97";
$c-ferry: "\ed98";
$c-feather: "\ed99";
$c-feather-pointed: "\ed9a";
$c-fax: "\ed9b";
$c-faucet: "\ed9c";
$c-faucet-drip: "\ed9d";
$c-fan: "\ed9e";
$c-face-tired: "\ed9f";
$c-face-surprise: "\eda0";
$c-face-smile: "\eda1";
$c-face-smile-wink: "\eda2";
$c-face-smile-beam: "\eda3";
$c-face-sad-tear: "\eda4";
$c-face-sad-cry: "\eda5";
$c-face-rolling-eyes: "\eda6";
$c-face-meh: "\eda7";
$c-face-meh-blank: "\eda8";
$c-face-laugh: "\eda9";
$c-face-laugh-wink: "\edaa";
$c-face-laugh-squint: "\edab";
$c-face-laugh-beam: "\edac";
$c-face-kiss: "\edad";
$c-face-kiss-wink-heart: "\edae";
$c-face-kiss-beam: "\edaf";
$c-face-grin: "\edb0";
$c-face-grin-wink: "\edb1";
$c-face-grin-wide: "\edb2";
$c-face-grin-tongue: "\edb3";
$c-face-grin-tongue-wink: "\edb4";
$c-face-grin-tongue-squint: "\edb5";
$c-face-grin-tears: "\edb6";
$c-face-grin-stars: "\edb7";
$c-face-grin-squint: "\edb8";
$c-face-grin-squint-tears: "\edb9";
$c-face-grin-hearts: "\edba";
$c-face-grin-beam: "\edbb";
$c-face-grin-beam-sweat: "\edbc";
$c-face-grimace: "\edbd";
$c-face-frown: "\edbe";
$c-face-frown-open: "\edbf";
$c-face-flushed: "\edc0";
$c-face-dizzy: "\edc1";
$c-face-angry: "\edc2";
$c-f: "\edc3";
$c-eye: "\edc4";
$c-eye-slash: "\edc5";
$c-eye-low-vision: "\edc6";
$c-eye-dropper: "\edc7";
$c-explosion: "\edc8";
$c-expand: "\edc9";
$c-exclamation: "\edca";
$c-euro-sign: "\edcb";
$c-ethernet: "\edcc";
$c-eraser: "\edcd";
$c-equals: "\edce";
$c-envelopes-bulk: "\edcf";
$c-envelope: "\edd0";
$c-envelope-open: "\edd1";
$c-envelope-open-text: "\edd2";
$c-envelope-circle-check: "\edd3";
$c-ellipsis: "\edd4";
$c-ellipsis-vertical: "\edd5";
$c-elevator: "\edd6";
$c-eject: "\edd7";
$c-egg: "\edd8";
$c-earth-oceania: "\edd9";
$c-earth-europe: "\edda";
$c-earth-asia: "\eddb";
$c-earth-americas: "\eddc";
$c-earth-africa: "\eddd";
$c-ear-listen: "\edde";
$c-ear-deaf: "\eddf";
$c-e: "\ede0";
$c-dungeon: "\ede1";
$c-dumpster: "\ede2";
$c-dumpster-fire: "\ede3";
$c-dumbbell: "\ede4";
$c-drumstick-bite: "\ede5";
$c-drum: "\ede6";
$c-drum-steelpan: "\ede7";
$c-droplet: "\ede8";
$c-droplet-slash: "\ede9";
$c-draw-polygon: "\edea";
$c-dragon: "\edeb";
$c-download: "\edec";
$c-down-long: "\eded";
$c-down-left-and-up-right-to-center: "\edee";
$c-dove: "\edef";
$c-door-open: "\edf0";
$c-door-closed: "\edf1";
$c-dong-sign: "\edf2";
$c-dolly: "\edf3";
$c-dollar-sign: "\edf4";
$c-dog: "\edf5";
$c-dna: "\edf6";
$c-divide: "\edf7";
$c-display: "\edf8";
$c-disease: "\edf9";
$c-dice: "\edfa";
$c-dice-two: "\edfb";
$c-dice-three: "\edfc";
$c-dice-six: "\edfd";
$c-dice-one: "\edfe";
$c-dice-four: "\edff";
$c-dice-five: "\ee00";
$c-dice-d6: "\ee01";
$c-dice-d20: "\ee02";
$c-diamond: "\ee03";
$c-diamond-turn-right: "\ee04";
$c-diagram-successor: "\ee05";
$c-diagram-project: "\ee06";
$c-diagram-predecessor: "\ee07";
$c-diagram-next: "\ee08";
$c-dharmachakra: "\ee09";
$c-desktop: "\ee0a";
$c-democrat: "\ee0b";
$c-delete-left: "\ee0c";
$c-database: "\ee0d";
$c-d: "\ee0e";
$c-cubes: "\ee0f";
$c-cubes-stacked: "\ee10";
$c-cube: "\ee11";
$c-cruzeiro-sign: "\ee12";
$c-crutch: "\ee13";
$c-crown: "\ee14";
$c-crow: "\ee15";
$c-crosshairs: "\ee16";
$c-cross: "\ee17";
$c-crop: "\ee18";
$c-crop-simple: "\ee19";
$c-credit-card: "\ee1a";
$c-cow: "\ee1b";
$c-couch: "\ee1c";
$c-copyright: "\ee1d";
$c-copy: "\ee1e";
$c-cookie: "\ee1f";
$c-cookie-bite: "\ee20";
$c-computer: "\ee21";
$c-computer-mouse: "\ee22";
$c-compress: "\ee23";
$c-compass: "\ee24";
$c-compass-drafting: "\ee25";
$c-compact-disc: "\ee26";
$c-comments: "\ee27";
$c-comments-dollar: "\ee28";
$c-comment: "\ee29";
$c-comment-sms: "\ee2a";
$c-comment-slash: "\ee2b";
$c-comment-medical: "\ee2c";
$c-comment-dots: "\ee2d";
$c-comment-dollar: "\ee2e";
$c-colon-sign: "\ee2f";
$c-coins: "\ee30";
$c-code: "\ee31";
$c-code-pull-request: "\ee32";
$c-code-merge: "\ee33";
$c-code-fork: "\ee34";
$c-code-compare: "\ee35";
$c-code-commit: "\ee36";
$c-code-branch: "\ee37";
$c-clover: "\ee38";
$c-cloud: "\ee39";
$c-cloud-sun: "\ee3a";
$c-cloud-sun-rain: "\ee3b";
$c-cloud-showers-water: "\ee3c";
$c-cloud-showers-heavy: "\ee3d";
$c-cloud-moon: "\ee3e";
$c-cloud-rain: "\ee3f";
$c-cloud-moon-rain: "\ee40";
$c-cloud-meatball: "\ee41";
$c-cloud-bolt: "\ee42";
$c-cloud-arrow-up: "\ee43";
$c-cloud-arrow-down: "\ee44";
$c-closed-captioning: "\ee45";
$c-clone: "\ee46";
$c-clock: "\ee47";
$c-clock-rotate-left: "\ee48";
$c-clipboard: "\ee49";
$c-clipboard-user: "\ee4a";
$c-clipboard-question: "\ee4b";
$c-clipboard-list: "\ee4c";
$c-clipboard-check: "\ee4d";
$c-clapperboard: "\ee4e";
$c-city: "\ee4f";
$c-circle: "\ee50";
$c-circle-xmark: "\ee51";
$c-circle-user: "\ee52";
$c-circle-up: "\ee53";
$c-circle-stop: "\ee54";
$c-circle-right: "\ee55";
$c-circle-radiation: "\ee56";
$c-circle-question: "\ee57";
$c-circle-plus: "\ee58";
$c-circle-play: "\ee59";
$c-circle-pause: "\ee5a";
$c-circle-notch: "\ee5b";
$c-circle-nodes: "\ee5c";
$c-circle-minus: "\ee5d";
$c-circle-left: "\ee5e";
$c-circle-info: "\ee5f";
$c-circle-half-stroke: "\ee60";
$c-circle-h: "\ee61";
$c-circle-exclamation: "\ee62";
$c-circle-down: "\ee63";
$c-circle-dot: "\ee64";
$c-circle-dollar-to-slot: "\ee65";
$c-circle-chevron-up: "\ee66";
$c-circle-chevron-right: "\ee67";
$c-circle-chevron-left: "\ee68";
$c-circle-chevron-down: "\ee69";
$c-circle-check: "\ee6a";
$c-circle-arrow-up: "\ee6b";
$c-circle-arrow-right: "\ee6c";
$c-circle-arrow-left: "\ee6d";
$c-circle-arrow-down: "\ee6e";
$c-church: "\ee6f";
$c-children: "\ee70";
$c-child: "\ee71";
$c-child-reaching: "\ee72";
$c-child-dress: "\ee73";
$c-child-combatant: "\ee74";
$c-chevron-up: "\ee75";
$c-chevron-right: "\ee76";
$c-chevron-left: "\ee77";
$c-chevron-down: "\ee78";
$c-chess: "\ee79";
$c-chess-rook: "\ee7a";
$c-chess-queen: "\ee7b";
$c-chess-pawn: "\ee7c";
$c-chess-knight: "\ee7d";
$c-chess-king: "\ee7e";
$c-chess-board: "\ee7f";
$c-chess-bishop: "\ee80";
$c-cheese: "\ee81";
$c-check: "\ee82";
$c-check-to-slot: "\ee83";
$c-check-double: "\ee84";
$c-chart-simple: "\ee85";
$c-chart-pie: "\ee86";
$c-chart-line: "\ee87";
$c-chart-gantt: "\ee88";
$c-chart-column: "\ee89";
$c-chart-bar: "\ee8a";
$c-chart-area: "\ee8b";
$c-charging-station: "\ee8c";
$c-champagne-glasses: "\ee8d";
$c-chalkboard: "\ee8e";
$c-chalkboard-user: "\ee8f";
$c-chair: "\ee90";
$c-certificate: "\ee91";
$c-cent-sign: "\ee92";
$c-cedi-sign: "\ee93";
$c-cat: "\ee94";
$c-cash-register: "\ee95";
$c-cart-shopping: "\ee96";
$c-cart-plus: "\ee97";
$c-cart-flatbed: "\ee98";
$c-cart-flatbed-suitcase: "\ee99";
$c-cart-arrow-down: "\ee9a";
$c-carrot: "\ee9b";
$c-caret-up: "\ee9c";
$c-caret-right: "\ee9d";
$c-caret-left: "\ee9e";
$c-caret-down: "\ee9f";
$c-caravan: "\eea0";
$c-car: "\eea1";
$c-car-tunnel: "\eea2";
$c-car-side: "\eea3";
$c-car-rear: "\eea4";
$c-car-on: "\eea5";
$c-car-burst: "\eea6";
$c-car-battery: "\eea7";
$c-capsules: "\eea8";
$c-cannabis: "\eea9";
$c-candy-cane: "\eeaa";
$c-campground: "\eeab";
$c-camera: "\eeac";
$c-camera-rotate: "\eead";
$c-camera-retro: "\eeae";
$c-calendar: "\eeaf";
$c-calendar-xmark: "\eeb0";
$c-calendar-week: "\eeb1";
$c-calendar-plus: "\eeb2";
$c-calendar-minus: "\eeb3";
$c-calendar-days: "\eeb4";
$c-calendar-day: "\eeb5";
$c-calendar-check: "\eeb6";
$c-calculator: "\eeb7";
$c-cake-candles: "\eeb8";
$c-cable-car: "\eeb9";
$c-c: "\eeba";
$c-business-time: "\eebb";
$c-bus: "\eebc";
$c-bus-simple: "\eebd";
$c-burst: "\eebe";
$c-burger: "\eebf";
$c-bullseye: "\eec0";
$c-bullhorn: "\eec1";
$c-building: "\eec2";
$c-building-wheat: "\eec3";
$c-building-user: "\eec4";
$c-building-un: "\eec5";
$c-building-shield: "\eec6";
$c-building-ngo: "\eec7";
$c-building-lock: "\eec8";
$c-building-flag: "\eec9";
$c-building-columns: "\eeca";
$c-building-circle-xmark: "\eecb";
$c-building-circle-exclamation: "\eecc";
$c-building-circle-check: "\eecd";
$c-building-circle-arrow-right: "\eece";
$c-bugs: "\eecf";
$c-bug: "\eed0";
$c-bug-slash: "\eed1";
$c-bucket: "\eed2";
$c-brush: "\eed3";
$c-broom: "\eed4";
$c-broom-ball: "\eed5";
$c-briefcase: "\eed6";
$c-briefcase-medical: "\eed7";
$c-bridge: "\eed8";
$c-bridge-water: "\eed9";
$c-bridge-lock: "\eeda";
$c-bridge-circle-xmark: "\eedb";
$c-bridge-circle-exclamation: "\eedc";
$c-bridge-circle-check: "\eedd";
$c-bread-slice: "\eede";
$c-brazilian-real-sign: "\eedf";
$c-brain: "\eee0";
$c-braille: "\eee1";
$c-boxes-stacked: "\eee2";
$c-boxes-packing: "\eee3";
$c-box: "\eee4";
$c-box-tissue: "\eee5";
$c-box-open: "\eee6";
$c-box-archive: "\eee7";
$c-bowling-ball: "\eee8";
$c-bowl-rice: "\eee9";
$c-bowl-food: "\eeea";
$c-bottle-water: "\eeeb";
$c-bottle-droplet: "\eeec";
$c-bore-hole: "\eeed";
$c-border-top-left: "\eeee";
$c-border-none: "\eeef";
$c-border-all: "\eef0";
$c-bookmark: "\eef1";
$c-book: "\eef2";
$c-book-tanakh: "\eef3";
$c-book-skull: "\eef4";
$c-book-quran: "\eef5";
$c-book-open: "\eef6";
$c-book-open-reader: "\eef7";
$c-book-medical: "\eef8";
$c-book-journal-whills: "\eef9";
$c-book-bookmark: "\eefa";
$c-book-bible: "\eefb";
$c-book-atlas: "\eefc";
$c-bong: "\eefd";
$c-bone: "\eefe";
$c-bomb: "\eeff";
$c-bolt: "\ef00";
$c-bolt-lightning: "\ef01";
$c-bold: "\ef02";
$c-blog: "\ef03";
$c-blender: "\ef04";
$c-blender-phone: "\ef05";
$c-bitcoin-sign: "\ef06";
$c-biohazard: "\ef07";
$c-binoculars: "\ef08";
$c-bicycle: "\ef09";
$c-bezier-curve: "\ef0a";
$c-bell: "\ef0b";
$c-bell-slash: "\ef0c";
$c-bell-concierge: "\ef0d";
$c-beer-mug-empty: "\ef0e";
$c-bed: "\ef0f";
$c-bed-pulse: "\ef10";
$c-battery-three-quarters: "\ef11";
$c-battery-quarter: "\ef12";
$c-battery-half: "\ef13";
$c-battery-full: "\ef14";
$c-battery-empty: "\ef15";
$c-bath: "\ef16";
$c-basketball: "\ef17";
$c-basket-shopping: "\ef18";
$c-baseball: "\ef19";
$c-baseball-bat-ball: "\ef1a";
$c-bars: "\ef1b";
$c-bars-staggered: "\ef1c";
$c-bars-progress: "\ef1d";
$c-barcode: "\ef1e";
$c-bangladeshi-taka-sign: "\ef1f";
$c-bandage: "\ef20";
$c-ban: "\ef21";
$c-ban-smoking: "\ef22";
$c-baht-sign: "\ef23";
$c-bahai: "\ef24";
$c-bag-shopping: "\ef25";
$c-bacterium: "\ef26";
$c-bacteria: "\ef27";
$c-bacon: "\ef28";
$c-backward: "\ef29";
$c-backward-step: "\ef2a";
$c-backward-fast: "\ef2b";
$c-baby: "\ef2c";
$c-baby-carriage: "\ef2d";
$c-b: "\ef2e";
$c-award: "\ef2f";
$c-austral-sign: "\ef30";
$c-audio-description: "\ef31";
$c-atom: "\ef32";
$c-at: "\ef33";
$c-asterisk: "\ef34";
$c-arrows-up-to-line: "\ef35";
$c-arrows-up-down: "\ef36";
$c-arrows-up-down-left-right: "\ef37";
$c-arrows-turn-to-dots: "\ef38";
$c-arrows-turn-right: "\ef39";
$c-arrows-to-eye: "\ef3a";
$c-arrows-to-dot: "\ef3b";
$c-arrows-to-circle: "\ef3c";
$c-arrows-split-up-and-left: "\ef3d";
$c-arrows-spin: "\ef3e";
$c-arrows-rotate: "\ef3f";
$c-arrows-left-right: "\ef40";
$c-arrows-left-right-to-line: "\ef41";
$c-arrows-down-to-people: "\ef42";
$c-arrows-down-to-line: "\ef43";
$c-arrow-up: "\ef44";
$c-arrow-up-z-a: "\ef45";
$c-arrow-up-wide-short: "\ef46";
$c-arrow-up-short-wide: "\ef47";
$c-arrow-up-right-from-square: "\ef48";
$c-arrow-up-right-dots: "\ef49";
$c-arrow-up-long: "\ef4a";
$c-arrow-up-from-water-pump: "\ef4b";
$c-arrow-up-from-ground-water: "\ef4c";
$c-arrow-up-from-bracket: "\ef4d";
$c-arrow-up-a-z: "\ef4e";
$c-arrow-up-9-1: "\ef4f";
$c-arrow-up-1-9: "\ef50";
$c-arrow-turn-up: "\ef51";
$c-arrow-turn-down: "\ef52";
$c-arrow-trend-up: "\ef53";
$c-arrow-trend-down: "\ef54";
$c-arrow-rotate-right: "\ef55";
$c-arrow-rotate-left: "\ef56";
$c-arrow-right: "\ef57";
$c-arrow-right-to-city: "\ef58";
$c-arrow-right-to-bracket: "\ef59";
$c-arrow-right-long: "\ef5a";
$c-arrow-right-from-bracket: "\ef5b";
$c-arrow-right-arrow-left: "\ef5c";
$c-arrow-pointer: "\ef5d";
$c-arrow-left: "\ef5e";
$c-arrow-left-long: "\ef5f";
$c-arrow-down: "\ef60";
$c-arrow-down-z-a: "\ef61";
$c-arrow-down-wide-short: "\ef62";
$c-arrow-down-up-lock: "\ef63";
$c-arrow-down-up-across-line: "\ef64";
$c-arrow-down-short-wide: "\ef65";
$c-arrow-down-long: "\ef66";
$c-arrow-down-a-z: "\ef67";
$c-arrow-down-9-1: "\ef68";
$c-arrow-down-1-9: "\ef69";
$c-archway: "\ef6a";
$c-apple-whole: "\ef6b";
$c-ankh: "\ef6c";
$c-angles-up: "\ef6d";
$c-angles-right: "\ef6e";
$c-angles-left: "\ef6f";
$c-angles-down: "\ef70";
$c-angle-up: "\ef71";
$c-angle-right: "\ef72";
$c-angle-left: "\ef73";
$c-angle-down: "\ef74";
$c-anchor: "\ef75";
$c-anchor-lock: "\ef76";
$c-anchor-circle-xmark: "\ef77";
$c-anchor-circle-exclamation: "\ef78";
$c-anchor-circle-check: "\ef79";
$c-align-right: "\ef7a";
$c-align-left: "\ef7b";
$c-align-justify: "\ef7c";
$c-align-center: "\ef7d";
$c-address-card: "\ef7e";
$c-address-book: "\ef7f";
$c-a: "\ef80";
$c-9: "\ef81";
$c-8: "\ef82";
$c-7: "\ef83";
$c-6: "\ef84";
$c-5: "\ef85";
$c-4: "\ef86";
$c-3: "\ef87";
$c-2: "\ef88";
$c-1: "\ef89";
$c-0: "\ef8a";
$c-window-restore1: "\ef8b";
$c-window-minimize1: "\ef8c";
$c-window-maximize1: "\ef8d";
$c-user1: "\ef8e";
$c-trash-can1: "\ef8f";
$c-thumbs-up1: "\ef90";
$c-thumbs-down1: "\ef91";
$c-sun1: "\ef92";
$c-star1: "\ef93";
$c-star-half1: "\ef94";
$c-star-half-stroke1: "\ef95";
$c-square1: "\ef96";
$c-square-plus1: "\ef97";
$c-square-minus1: "\ef98";
$c-square-full1: "\ef99";
$c-square-check1: "\ef9a";
$c-square-caret-up1: "\ef9b";
$c-square-caret-right1: "\ef9c";
$c-square-caret-left1: "\ef9d";
$c-square-caret-down1: "\ef9e";
$c-snowflake1: "\ef9f";
$c-share-from-square1: "\efa0";
$c-registered1: "\efa1";
$c-rectangle-xmark1: "\efa2";
$c-rectangle-list1: "\efa3";
$c-pen-to-square1: "\efa4";
$c-paste1: "\efa5";
$c-paper-plane1: "\efa6";
$c-object-ungroup1: "\efa7";
$c-object-group1: "\efa8";
$c-note-sticky1: "\efa9";
$c-newspaper1: "\efaa";
$c-moon1: "\efab";
$c-money-bill-11: "\efac";
$c-message1: "\efad";
$c-map1: "\efae";
$c-lightbulb1: "\efaf";
$c-life-ring1: "\efb0";
$c-lemon1: "\efb1";
$c-keyboard1: "\efb2";
$c-images1: "\efb3";
$c-image1: "\efb4";
$c-id-card1: "\efb5";
$c-id-badge1: "\efb6";
$c-hourglass1: "\efb7";
$c-hourglass-half1: "\efb8";
$c-hospital1: "\efb9";
$c-heart1: "\efba";
$c-hard-drive1: "\efbb";
$c-handshake1: "\efbc";
$c-hand1: "\efbd";
$c-hand-spock1: "\efbe";
$c-hand-scissors1: "\efbf";
$c-hand-pointer1: "\efc0";
$c-hand-point-up1: "\efc1";
$c-hand-point-right1: "\efc2";
$c-hand-point-left1: "\efc3";
$c-hand-point-down1: "\efc4";
$c-hand-peace1: "\efc5";
$c-hand-lizard1: "\efc6";
$c-hand-back-fist1: "\efc7";
$c-gem1: "\efc8";
$c-futbol1: "\efc9";
$c-font-awesome1: "\efca";
$c-folder1: "\efcb";
$c-folder-open1: "\efcc";
$c-folder-closed1: "\efcd";
$c-floppy-disk1: "\efce";
$c-flag1: "\efcf";
$c-file1: "\efd0";
$c-file-zipper1: "\efd1";
$c-file-word1: "\efd2";
$c-file-video1: "\efd3";
$c-file-powerpoint1: "\efd4";
$c-file-pdf1: "\efd5";
$c-file-lines1: "\efd6";
$c-file-image1: "\efd7";
$c-file-excel1: "\efd8";
$c-file-code1: "\efd9";
$c-file-audio1: "\efda";
$c-face-tired1: "\efdb";
$c-face-surprise1: "\efdc";
$c-face-smile1: "\efdd";
$c-face-smile-wink1: "\efde";
$c-face-smile-beam1: "\efdf";
$c-face-sad-tear1: "\efe0";
$c-face-sad-cry1: "\efe1";
$c-face-rolling-eyes1: "\efe2";
$c-face-meh1: "\efe3";
$c-face-meh-blank1: "\efe4";
$c-face-laugh1: "\efe5";
$c-face-laugh-wink1: "\efe6";
$c-face-laugh-squint1: "\efe7";
$c-face-laugh-beam1: "\efe8";
$c-face-kiss1: "\efe9";
$c-face-kiss-wink-heart1: "\efea";
$c-face-kiss-beam1: "\efeb";
$c-face-grin1: "\efec";
$c-face-grin-wink1: "\efed";
$c-face-grin-wide1: "\efee";
$c-face-grin-tongue1: "\efef";
$c-face-grin-tongue-wink1: "\eff0";
$c-face-grin-tongue-squint1: "\eff1";
$c-face-grin-tears1: "\eff2";
$c-face-grin-stars1: "\eff3";
$c-face-grin-squint1: "\eff4";
$c-face-grin-squint-tears1: "\eff5";
$c-face-grin-hearts1: "\eff6";
$c-face-grin-beam1: "\eff7";
$c-face-grin-beam-sweat1: "\eff8";
$c-face-grimace1: "\eff9";
$c-face-frown1: "\effa";
$c-face-frown-open1: "\effb";
$c-face-flushed1: "\effc";
$c-face-dizzy1: "\effd";
$c-face-angry1: "\effe";
$c-eye1: "\efff";
$c-eye-slash1: "\f000";
$c-envelope1: "\f001";
$c-envelope-open1: "\f002";
$c-credit-card1: "\f003";
$c-copyright1: "\f004";
$c-copy1: "\f005";
$c-compass1: "\f006";
$c-comments1: "\f007";
$c-comment1: "\f008";
$c-comment-dots1: "\f009";
$c-closed-captioning1: "\f00a";
$c-clone1: "\f00b";
$c-clock1: "\f00c";
$c-clipboard1: "\f00d";
$c-circle1: "\f00e";
$c-circle-xmark1: "\f00f";
$c-circle-user1: "\f010";
$c-circle-up1: "\f011";
$c-circle-stop1: "\f012";
$c-circle-right1: "\f013";
$c-circle-question1: "\f014";
$c-circle-play1: "\f015";
$c-circle-pause1: "\f016";
$c-circle-left1: "\f017";
$c-circle-down1: "\f018";
$c-circle-dot1: "\f019";
$c-circle-check1: "\f01a";
$c-chess-rook1: "\f01b";
$c-chess-queen1: "\f01c";
$c-chess-pawn1: "\f01d";
$c-chess-knight1: "\f01e";
$c-chess-king1: "\f01f";
$c-chess-bishop1: "\f020";
$c-chart-bar1: "\f021";
$c-calendar1: "\f022";
$c-calendar-xmark1: "\f023";
$c-calendar-plus1: "\f024";
$c-calendar-minus1: "\f025";
$c-calendar-days1: "\f026";
$c-calendar-check1: "\f027";
$c-building1: "\f028";
$c-bookmark1: "\f029";
$c-bell1: "\f02a";
$c-bell-slash1: "\f02b";
$c-address-card1: "\f02c";
$c-address-book1: "\f02d";
$c-activity: "\e903";
$c-pdf: "\e900";
$c-txt: "\e901";
$c-epub: "\e902";
$c-airplay: "\e904";
$c-alert-circle: "\e905";
$c-alert-octagon: "\e906";
$c-alert-triangle: "\e907";
$c-align-center1: "\e908";
$c-align-justify1: "\e909";
$c-align-left1: "\e90a";
$c-align-right1: "\e90b";
$c-anchor1: "\e90c";
$c-aperture: "\e90d";
$c-archive: "\e90e";
$c-arrow-down1: "\e90f";
$c-arrow-down-circle: "\e910";
$c-arrow-down-left: "\e911";
$c-arrow-down-right: "\e912";
$c-arrow-left1: "\e913";
$c-arrow-left-circle: "\e914";
$c-arrow-right1: "\e915";
$c-arrow-right-circle: "\e916";
$c-arrow-up1: "\e917";
$c-arrow-up-circle: "\e918";
$c-arrow-up-left: "\e919";
$c-arrow-up-right: "\e91a";
$c-at-sign: "\e91b";
$c-award1: "\e91c";
$c-bar-chart: "\e91d";
$c-bar-chart-2: "\e91e";
$c-battery: "\e91f";
$c-battery-charging: "\e920";
$c-bell11: "\e921";
$c-bell-off: "\e922";
$c-bluetooth1: "\e923";
$c-bold1: "\e924";
$c-book1: "\e925";
$c-book-open1: "\e926";
$c-bookmark11: "\e927";
$c-box1: "\e928";
$c-briefcase1: "\e929";
$c-calendar11: "\e92a";
$c-camera1: "\e92b";
$c-camera-off: "\e92c";
$c-cast: "\e92d";
$c-check1: "\e92e";
$c-check-circle: "\e92f";
$c-check-square: "\e930";
$c-chevron-down1: "\e931";
$c-chevron-left1: "\e932";
$c-chevron-right1: "\e933";
$c-chevron-up1: "\e934";
$c-chevrons-down: "\e935";
$c-chevrons-left: "\e936";
$c-chevrons-right: "\e937";
$c-chevrons-up: "\e938";
$c-chrome1: "\e939";
$c-circle11: "\e93a";
$c-clipboard11: "\e93b";
$c-clock11: "\e93c";
$c-cloud1: "\e93d";
$c-cloud-drizzle: "\e93e";
$c-cloud-lightning: "\e93f";
$c-cloud-off: "\e940";
$c-cloud-rain1: "\e941";
$c-cloud-snow: "\e942";
$c-code1: "\e943";
$c-codepen1: "\e944";
$c-codesandbox: "\e945";
$c-coffee: "\e946";
$c-columns: "\e947";
$c-command: "\e948";
$c-compass11: "\e949";
$c-copy11: "\e94a";
$c-corner-down-left: "\e94b";
$c-corner-down-right: "\e94c";
$c-corner-left-down: "\e94d";
$c-corner-left-up: "\e94e";
$c-corner-right-down: "\e94f";
$c-corner-right-up: "\e950";
$c-corner-up-left: "\e951";
$c-corner-up-right: "\e952";
$c-cpu: "\e953";
$c-credit-card11: "\e954";
$c-crop1: "\e955";
$c-crosshair: "\e956";
$c-database1: "\e957";
$c-delete: "\e958";
$c-disc: "\e959";
$c-dollar-sign1: "\e95a";
$c-download1: "\e95b";
$c-download-cloud: "\e95c";
$c-droplet1: "\e95d";
$c-edit: "\e95e";
$c-edit-2: "\e95f";
$c-edit-3: "\e960";
$c-external-link: "\e961";
$c-eye11: "\e962";
$c-eye-off: "\e963";
$c-facebook1: "\e964";
$c-fast-forward: "\e965";
$c-feather1: "\e966";
$c-figma1: "\e967";
$c-file11: "\e968";
$c-file-minus: "\e969";
$c-file-plus: "\e96a";
$c-file-text: "\e96b";
$c-film1: "\e96c";
$c-filter1: "\e96d";
$c-flag11: "\e96e";
$c-folder11: "\e96f";
$c-folder-minus1: "\e970";
$c-folder-plus1: "\e971";
$c-framer: "\e972";
$c-frown: "\e973";
$c-gift1: "\e974";
$c-git-branch: "\e975";
$c-git-commit: "\e976";
$c-git-merge: "\e977";
$c-git-pull-request: "\e978";
$c-github1: "\e979";
$c-gitlab1: "\e97a";
$c-globe1: "\e97b";
$c-grid: "\e97c";
$c-hard-drive11: "\e97d";
$c-hash: "\e97e";
$c-headphones1: "\e97f";
$c-heart11: "\e980";
$c-help-circle: "\e981";
$c-hexagon: "\e982";
$c-home: "\e983";
$c-image11: "\e984";
$c-inbox1: "\e985";
$c-info1: "\e986";
$c-instagram1: "\e987";
$c-italic1: "\e988";
$c-key1: "\e989";
$c-layers: "\e98a";
$c-layout: "\e98b";
$c-life-buoy: "\e98c";
$c-link1: "\e98d";
$c-link-2: "\e98e";
$c-linkedin1: "\e98f";
$c-list1: "\e990";
$c-loader: "\e991";
$c-lock1: "\e992";
$c-log-in: "\e993";
$c-log-out: "\e994";
$c-mail: "\e995";
$c-map11: "\e996";
$c-map-pin1: "\e997";
$c-maximize1: "\e998";
$c-maximize-2: "\e999";
$c-meh: "\e99a";
$c-menu: "\e99b";
$c-message-circle: "\e99c";
$c-message-square: "\e99d";
$c-mic: "\e99e";
$c-mic-off: "\e99f";
$c-minimize1: "\e9a0";
$c-minimize-2: "\e9a1";
$c-minus1: "\e9a2";
$c-minus-circle: "\e9a3";
$c-minus-square: "\e9a4";
$c-monitor: "\e9a5";
$c-moon11: "\e9a6";
$c-more-horizontal: "\e9a7";
$c-more-vertical: "\e9a8";
$c-mouse-pointer: "\e9a9";
$c-move: "\e9aa";
$c-music1: "\e9ab";
$c-navigation: "\e9ac";
$c-navigation-2: "\e9ad";
$c-octagon: "\e9ae";
$c-package: "\e9af";
$c-paperclip1: "\e9b0";
$c-pause1: "\e9b1";
$c-pause-circle: "\e9b2";
$c-pen-tool: "\e9b3";
$c-percent1: "\e9b4";
$c-phone1: "\e9b5";
$c-phone-call: "\e9b6";
$c-phone-forwarded: "\e9b7";
$c-phone-incoming: "\e9b8";
$c-phone-missed: "\e9b9";
$c-phone-off: "\e9ba";
$c-phone-outgoing: "\e9bb";
$c-pie-chart: "\e9bc";
$c-play1: "\e9bd";
$c-play-circle: "\e9be";
$c-plus1: "\e9bf";
$c-plus-circle: "\e9c0";
$c-plus-square: "\e9c1";
$c-pocket: "\e9c2";
$c-power: "\e9c3";
$c-printer: "\e9c4";
$c-radio1: "\e9c5";
$c-refresh-ccw: "\e9c6";
$c-refresh-cw: "\e9c7";
$c-repeat1: "\e9c8";
$c-rewind: "\e9c9";
$c-rotate-ccw: "\e9ca";
$c-rotate-cw: "\e9cb";
$c-rss1: "\e9cc";
$c-save: "\e9cd";
$c-scissors1: "\e9ce";
$c-search: "\e9cf";
$c-send: "\e9d0";
$c-server1: "\e9d1";
$c-settings: "\e9d2";
$c-share1: "\e9d3";
$c-share-2: "\e9d4";
$c-shield1: "\e9d5";
$c-shield-off: "\e9d6";
$c-shopping-bag: "\e9d7";
$c-shopping-cart: "\e9d8";
$c-shuffle1: "\e9d9";
$c-sidebar: "\e9da";
$c-skip-back: "\e9db";
$c-skip-forward: "\e9dc";
$c-slack1: "\e9dd";
$c-slash1: "\e9de";
$c-sliders1: "\e9df";
$c-smartphone: "\e9e0";
$c-smile: "\e9e1";
$c-speaker: "\e9e2";
$c-square11: "\e9e3";
$c-star11: "\e9e4";
$c-stop-circle: "\e9e5";
$c-sun11: "\e9e6";
$c-sunrise: "\e9e7";
$c-sunset: "\e9e8";
$c-tablet1: "\e9e9";
$c-tag1: "\e9ea";
$c-target: "\e9eb";
$c-terminal1: "\e9ec";
$c-thermometer1: "\e9ed";
$c-thumbs-down11: "\e9ee";
$c-thumbs-up11: "\e9ef";
$c-toggle-left: "\e9f0";
$c-toggle-right: "\e9f1";
$c-tool: "\e9f2";
$c-trash1: "\e9f3";
$c-trash-2: "\e9f4";
$c-trello1: "\e9f5";
$c-trending-down: "\e9f6";
$c-trending-up: "\e9f7";
$c-triangle: "\e9f8";
$c-truck1: "\e9f9";
$c-tv1: "\e9fa";
$c-twitch1: "\e9fb";
$c-twitter1: "\e9fc";
$c-type: "\e9fd";
$c-umbrella1: "\e9fe";
$c-underline1: "\e9ff";
$c-unlock1: "\ea00";
$c-upload1: "\ea01";
$c-upload-cloud: "\ea02";
$c-user11: "\ea03";
$c-user-check1: "\ea04";
$c-user-minus1: "\ea05";
$c-user-plus1: "\ea06";
$c-user-x: "\ea07";
$c-users1: "\ea08";
$c-video1: "\ea09";
$c-video-off: "\ea0a";
$c-voicemail1: "\ea0b";
$c-volume: "\ea0c";
$c-volume-1: "\ea0d";
$c-volume-2: "\ea0e";
$c-volume-x: "\ea0f";
$c-watch: "\ea10";
$c-wifi1: "\ea11";
$c-wifi-off: "\ea12";
$c-wind1: "\ea13";
$c-x1: "\ea14";
$c-x-circle: "\ea15";
$c-x-octagon: "\ea16";
$c-x-square: "\ea17";
$c-youtube1: "\ea18";
$c-zap: "\ea19";
$c-zap-off: "\ea1a";
$c-zoom-in: "\ea1b";
$c-zoom-out: "\ea1c";

